.header {
  padding: 20px 0;
  background-color: #fff;
}

.header__logo {
  margin-right: 60px;
}

.header__logo-link:hover {
  text-decoration: none;
}

.header__city-btn {
  margin-right: 35px;
}

.header__city-btn,
.header__delivery,
.header__search-btn {
  border: none;
  background: none;
}

.header__enter {
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.header__enter:hover {
  color: #000;
  text-decoration: none;
}

.products {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.skeleton:empty {
  height: 366px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc)), -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc)), -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc)), -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#f1f1f1));
  background-image: -webkit-linear-gradient(#cccccc, #cccccc), -webkit-linear-gradient(#cccccc, #cccccc), -webkit-linear-gradient(#cccccc, #cccccc), -webkit-linear-gradient(#f1f1f1, #f1f1f1);
  background-image: linear-gradient(#cccccc, #cccccc), linear-gradient(#cccccc, #cccccc), linear-gradient(#cccccc, #cccccc), linear-gradient(#f1f1f1, #f1f1f1);
  background-size: 224px 10px, 264px 10px, 100px 20px, 364px 267px;
  background-position: 0 327px, 0 307px, 0 277px, 0 0;
  background-repeat: no-repeat;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.products__img-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #cecece;
}

.products__img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.products__name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
}

.products__rate-block {
  margin-right: 15px;
}

.products__star {
  padding-bottom: 2px;
}

.dishes {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: start;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0%, #fff), to(#cecece));
  background: -webkit-linear-gradient(#fff, #fff 0%, #cecece);
  background: linear-gradient(#fff, #fff 0%, #cecece);
  padding-bottom: 50px;
}

.dishes__card {
  margin-right: 14.8px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.dishes__card:hover {
  box-shadow: 0px 0px 15px #b0b0b0;
}

.dishes__wrapper {
  padding: 15px;
}

.dishes__price-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.dishes__name {
  font-size: 1.1rem;
  color: #000;
}

.dishes__price {
  color: #000;
}

.dishes__weight,
.dishes__description {
  color: #b0b0b0;
}

.dishes__img {
  width: 100%;
  border-radius: 5px;
}

.footer {
  background-color: #000;
  padding: 88px;
}

.footer__main-block {
  padding-top: 5em;
}

.footer__app-block {
  width: 50%;
}

.footer__logo {
  padding-bottom: 100px;
}

.footer__app {
  width: 130px;
}

.footer__app:first-child {
  margin-right: 20px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list:nth-child(1) {
  padding-right: 100px;
}

.footer__item {
  margin-bottom: 15px;
}

.footer__social-block {
  text-align: center;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
}

.footer__line {
  background-color: #fff;
  height: 1px;
  margin-bottom: 20px;
}

.footer__policy {
  margin-bottom: 40px;
}

.footer__social-link {
  text-align: center;
  margin-right: 20px;
}

.footer__social-link {
  display: inline-block;
  width: 17px;
}

.footer__social-link:hover {
  text-decoration: none;
}

.first-list {
  margin-right: 30px;
}

.policy {
  margin-right: 15px;
}

@media screen and (min-width: 1200px) {
  .skeleton,
  .products__card {
    width: 33%;
  }
  .dishes__card {
    width: 32%;
  }
}

@media screen and (max-width: 991px) {
  .footer__main-block {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-top: 0;
  }
  .footer__logo {
    margin-bottom: 30px;
    padding: 0;
  }
  .footer__app-block {
    margin-bottom: 20px;
  }
  .footer__policy {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .annotation,
  .policy {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .skeleton {
    width: 49%;
  }
  .skeleton:empty {
    height: 401px;
    background-size: 224px 10px, 264px 10px, 100px 20px, 453px 302px;
    background-position: 0 357px, 0 337px, 0 307px, 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .skeleton:empty {
    height: 330px;
    width: 336px;
    background-size: 224px 20px, 264px 39px, 100px 20px, 336px 224px;
    background-position: 0 300px, 0 255px, 0 230px, 0 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 20px;
  }
  .header__block {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 15px;
  }
  .header__delivery-block {
    margin-bottom: 10px;
  }
  .header__city-btn,
  .header__delivery,
  .header__search-btn {
    padding: 0;
  }
  .products__img,
  .products__card,
  .dishes__card,
  .dishes__card-img {
    width: 100%;
  }
  .skeleton:empty {
    height: 408px;
    width: 100%;
    background-size: 224px 20px, 264px 39px, 100px 20px, 765px 339px;
    background-position: 0 300px, 0 255px, 0 230px, 0 0;
  }
  .footer {
    padding-top: 60px;
  }
  .footer__main-block {
    padding-top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .footer__logo {
    padding: 0;
    margin-bottom: 30px;
  }
  .footer__app-block {
    margin-bottom: 0;
  }
  .footer__app {
    margin-bottom: 20px;
  }
  .footer__app:first-child {
    margin-right: 0px;
  }
  .footer__policy {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .dishes__card,
  .products__card {
    width: 49%;
  }
  .dishes__card {
    margin-right: 5px;
  }
  .dishes__img,
  .products__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .header__block,
  .footer__main-block,
  .footer__policy {
    padding: 0 15px;
  }
}

@media screen and (max-width: 576px) {
  .footer__line {
    margin-left: -15px;
  }
}
