.footer {
  background-color: $black;
  padding: 88px;
}

.footer__main-block {
  padding-top: 5em;
}

.footer__app-block {
  width: 50%;
}

.footer__logo {
  padding-bottom: 100px;
}

.footer__app {
  width: 130px;
  &:first-child {
    margin-right: 20px;
  }
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  &:nth-child(1) {
    padding-right: 100px;
  }
}

.footer__item {
  margin-bottom: 15px;
}

.footer__social-block {
  text-align: center;
}

.footer__link {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

.footer__line {
  background-color: $white;
  height: 1px;
  margin-bottom: 20px;
}

.footer__policy {
  margin-bottom: 40px;
}

.footer__social-link {
  text-align: center;
  margin-right: 20px;
}

.footer__social-link {
  display: inline-block;
  width: 17px;
  &:hover {
  text-decoration: none;
  }
}

.first-list {
  margin-right: 30px;
}

.policy {
  margin-right: 15px;
}