.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.products__img-block {
  overflow: hidden;
  border-radius: 15px;
}

.products__img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.products__name {
  font-size: 1.3rem;
  font-weight: bold;
  color: $black;
}

.products__rate-block {
  margin-right: 15px;
}

.products__star {
  padding-bottom: 2px;
}